.configLoginScreen{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background-color: #E6E9F0;
    text-align: center;
    overflow: auto;
    color: #70717B;
}

.configLoginScreen .configLoginScreenContainer  {
    margin: auto;
    display: inline-block;
    padding: 1rem;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left:0;
    right: 0;
    margin: auto;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    border: solid 2px #fff;
    box-shadow: 0px 0px 2px 0px #000;
}

.configLoginScreen .configLoginCompanyLogoWrapper {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 5.5 rem;
    color: #70717B;
    margin: 70px 0 45px 0;
    width: 100%;
}

.configLoginScreen .configLoginScreenContainer .configProductName {
    font-size: 38px;
    line-height: 60px;
    padding: 0 5px 20px 5px;
    width: 100%;
}

.configLoginScreen .configWelcomeMessage {
    font-size: 13px;
}

.configLoginScreen .configLoginScreenContainer .configLoginFields {
    display: block;
    margin: 15px 0;
}

.configLoginScreen .configLoginScreenContainer .configLoginCopyright {
    margin: 0 0 20px 0;
    font-size: 12px;
    text-align: center;
}

.configLoginScreen .k-button {
    padding: 6px 20px;
    border: 1px solid #2d7f8b;
    outline: 0;
    font-size: 16pt;
    margin-right: 4px;
    min-width: 130px;
    background-color: #106d7b;
    color: #ffffff;
    cursor: pointer;
}